/* Основной стиль секции */
.aboutUs {
  padding: 60px 20px;
  background-color: #f9f9f9; /* Светлый фон */
}

/* Контейнер для контента */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; /* Для адаптации на маленьких экранах */
  gap: 20px;
}

/* Контент с текстом */
.content {
  flex: 1 1 50%; /* Занимает 50% ширины контейнера */
}

/* Заголовок */
.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Текстовые абзацы */
.text {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
}

/* Контейнер для изображений-карусели */
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  position: relative;
  gap: 30px;
}

/* Контейнер с изображениями */
.imageContainer {
  display: flex;
  overflow: hidden;
  width: 400px; /* Фиксированная ширина окна */
  height: 450px;
  position: relative;
  align-items: center;
}

/* Анимация смены изображений */
.imageContainer img {
  width: 100%;
  height: auto;
  position: absolute;
  transition:
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  opacity: 0;
  transform: scale(0.9) translateX(-50%);
}

/* Видимое фото */
.imageContainer img.active {
  opacity: 1;
  transform: scale(1) translateX(0);
}

/* Кнопки прокрутки */
.arrow {
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.arrow:hover {
  color: #000;
}

/* Контакты */
.contacts {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contactItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  width: 22px;
  height: 22px;
  margin-right: 13.5px;
}

.contactLink {
  font-family: 'Inter', sans-serif;
  color: var(--color-text1);
  text-decoration: none;
  font-size: 18px;
}

.contactLink:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .carousel {
    max-width: 100%;
  }

  .imageContainer {
    width: 300px;
    height: 280px;
    align-items: center;
  }
}
